<div class="position-relative">
  <!-- shape Hero -->
  <section class="section section-lg section-shaped pb-250">
    <div class="shape shape-style-1 bg-gradient-default">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="container py-lg-md d-flex">
      <div class="col px-0">
        <div class="row justify-content-center">
          <div class="col-lg-12 text-center">
            <h1 class="display-3  text-white"> Pick a plan. Build faster with AppLib.
              <span>Try for free for 14 days.</span>
            </h1>
            <h3></h3>
            <p class="lead text-white">
              AppLib by HASH32 comes with pre-built components to help you get started faster.
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- SVG separator -->
    <div class="separator separator-bottom separator-skew">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </section>
  <!-- 1st Hero Variation -->
</div>
<section class="section section-lg pt-lg-0 mt--200">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <div class="row row-grid">
          <div class="col-lg-4">
            <div class="card card-lift--hover shadow border-0">
              <div class="card-body py-5">
                <div class="icon icon-shape icon-shape-primary rounded-circle mb-4">
                  <i class="ni ni-check-bold"></i>
                </div>
                <h6 class="text-primary text-uppercase">Download Argon</h6>
                <p class="description mt-3">Argon is a great free UI package based on Bootstrap 4 that includes the most important components and features.</p>
                <div>
                  <span class="badge badge-pill badge-primary">design</span>
                  <span class="badge badge-pill badge-primary">system</span>
                  <span class="badge badge-pill badge-primary">creative</span>
                </div>
                <a href="#" class="btn btn-primary mt-4">Learn more</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card card-lift--hover shadow border-0">
              <div class="card-body py-5">
                <div class="icon icon-shape icon-shape-success rounded-circle mb-4">
                  <i class="ni ni-istanbul"></i>
                </div>
                <h6 class="text-success text-uppercase">Build Something</h6>
                <p class="description mt-3">Argon is a great free UI package based on Bootstrap 4 that includes the most important components and features.</p>
                <div>
                  <span class="badge badge-pill badge-success">business</span>
                  <span class="badge badge-pill badge-success">vision</span>
                  <span class="badge badge-pill badge-success">success</span>
                </div>
                <a href="#" class="btn btn-success mt-4">Learn more</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card card-lift--hover shadow border-0">
              <div class="card-body py-5">
                <div class="icon icon-shape icon-shape-warning rounded-circle mb-4">
                  <i class="ni ni-planet"></i>
                </div>
                <h6 class="text-warning text-uppercase">Prepare Launch</h6>
                <p class="description mt-3">Argon is a great free UI package based on Bootstrap 4 that includes the most important components and features.</p>
                <div>
                  <span class="badge badge-pill badge-warning">marketing</span>
                  <span class="badge badge-pill badge-warning">product</span>
                  <span class="badge badge-pill badge-warning">launch</span>
                </div>
                <a href="#" class="btn btn-warning mt-4">Learn more</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="faq">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 mx-auto text-center">
        <h1>Frequently Asked Questions</h1>
        <p>-</p>


        <div class="row text-left">
          <div class="col-lg-6 col-md-6 col-sm-12">
            <h3>Do you provide customer support? </h3>
            <p>Yes, we do. For customizations and other projects contact us at support@hash32.com</p>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            <h3>What is onboarding support? </h3>
            <p>With a powerful intuitive user interface, managing employee records becomes a breeze! You don't have to search through spreadsheets, and a document folder for your employee data again. Track leaves and expenses. Means you save a lot of your time.</p>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            <h3>I need a new feature, will you build it?</h3>
            <p>In short yes! But we filter the requests through our strong innate judgement before we proceed further with development!</p>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            <h3>I'm not satisfied. Do I get a refund?</h3>
            <p>Yes, email us at support@hash32.com.</p>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            <h3>Do you have a minimum contract?</h3>
            <p>If it fits, i sits stuff and things, tuxedo cats always looking dapper sit and stare but find something else more interesting. And sometimes switches in french and say "miaou" just because well why not if human is on laptop sit on the keyboard.</p>
          </div>

          <div class="col-lg-6 col-md-6 col-sm-12">
            <h3>How often are the components updated?</h3>
            <p>Only hardcore masochists enjoy building HTML emails, so we’ve saved you the pain and built all the emails you’ll need as beautiful HTML templates. </p>
          </div>
        </div>
        <p>-</p>

        <div class="row row-grid justify-content-center">
          <div class="col-lg-8 text-center">
            <h2 class="display-3">Have more questions?
              <span class="text-success">We are happy to help!</span>
            </h2>
            <p class="lead">Send us an email to <a href="mailto:support@hash32.com">support@hash32.com</a> and we will get back to you as soon as possible!</p>

          </div>
        </div>

      </div>
    </div>
  </div>
</section>
